<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>지하철 미세먼지 시각화</title>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
  <div class="main-wrapper">
    <section class="main-top-banner">
      <h2>눈으로 확인하는 지하철 미세먼지 상태!</h2>
      <h1>지하철 미세먼지, 실시간으로 확인하세요!</h1>
      <p>전국 지하철역의 초미세먼지(PM2.5), 미세먼지(PM10) 농도를 한 눈에 확인할 수 있어요.</p>
      <a class="main-start-button" href="login">시작하기</a>
    </section>
  </div>

  <section class="main-info-section">
    <div class="main-info-card">
      <div class="main-circle"></div>
      <h3>환경 아이콘</h3>
      <h3>실시간 데이터</h3>
      <p>공공 API를 활용한 전국 지하철 미세먼지 정보 제공</p>
    </div>
    <div class="main-info-card">
      <div class="main-circle"></div>
      <h3>통계 아이콘</h3>
      <h3>통계 데이터</h3>
      <p>통계화되고 시간대별 평균 미세먼지 농도 그래프 제공</p>
    </div>
    <div class="main-info-card">
      <div class="main-circle"></div>
      <h3>지도 아이콘</h3>
      <h3>관심역 등록</h3>
      <p>자주 이용하는 역을 등록해 빠르게 확인</p>
    </div>
  </section>
</body>
</html>
