<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<title>회원가입</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/user/SignupLogin.css" />
	<link rel="stylesheet" href="/css/common.css" />
</head>

<body>
	<div>
		<div>
			<div>
				<div>
					<div class="signup-page-container">

						<!-- 좌측 이미지 영역 -->
						<div class="col-md-6">
							<img
								src="img/subway.png"
								alt="subway.png" class="img-fluid h-100 signup-left-image" />
						</div>

						<!-- 우측 입력 폼 영역 -->
						<div class="col-md-6">
							<form id="step1-form" method="post">

								<!-- Step 1 -->
								<div id="signup1" style="display: block"
									class="card-body p-md-5 text-black">
									<div class="signup-right-container">
										<div id="fixed-title" class="signup-head-title">
											<h3 class="signup-h3 mb-5">회원가입</h3>
										</div>
										<div class="signup-middle-content">
											<div class="mb-4">
												<div
													class="signup-form-label mb-2 d-flex align-items-center">
													<label for="usrEmail" class="me-1 mb-0">이메일</label> <span
														style="color: #FF0858;">*</span>
												</div>
												<div class="d-flex gap-3">
												<input placeholder="이메일을 입력하세요" type="text" id="usrEmail"
												    name="usrEmail" required maxlength="30" 
												    pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" 
												    title="영어, 숫자, 특수문자(@, ., _, %, +, -)만 가능하며, 올바른 이메일 형식이어야 합니다."
												    class="form-control form-control-lg signup-form-control" />
													<button onclick="idCheck()" type="button"
														class="btn signup-btn-primary"
														style="white-space: nowrap;">중복체크</button>
												</div>
											</div>


											<div class="form-outline mb-4">
												<label class="signup-form-label mb-2" for="nick">닉네임</label><span
													style="color: #FF0858;">*</span> <input
													placeholder="닉네임을 입력해주세요" type="text" id="usrNick"
													name="usrNick" maxlength="30"  required="required"
													class="form-control form-control-lg signup-form-control" />
											</div>

											<div class="mb-4">
												<div class="signup-form-label mb-2">
													<label for="usrPw">비밀번호 (문자, 숫자, 특수문자 포함 8~20자)</label> <span
														style="color: #FF0858;">*</span>
												</div>
												<div class="d-flex gap-3">
													<div class="w-100">
														<input placeholder="비밀번호를 입력해주세요" type="password"
															id="usrPw" name="usrPw" maxlength="20" required="required"
															class="form-control form-control-lg signup-form-control" />
													</div>
													<div class="w-100">
														<input placeholder="비밀번호를 재입력해주세요" type="password"
															id="usrPwCheck" name="usrPwCheck" maxlength="20" required="required"
															class="form-control form-control-lg signup-form-control" />
													</div>
												</div>
											</div>

											<div align="center">
												<button type="button" onclick="goNext()"
													class="btn signup-next-btn btn-lg">다음</button>
											</div>
										</div>

										<div class="signup-bottom-content">
											<div align="center">
												계정이 이미 있나요? <a style="font-weight: 600" href="login">로그인</a>
											</div>
										</div>
									</div>

								</div>
							</form>

							<!-- Step 2 -->
							<form id="step2-form" method="post" action="insertSt">
								<div id="signup2" style="display: none"
									class="card-body p-md-5 text-black">

									<div class="signup-right-container">
										<div class="signup-head-title">

											<div id="fixed-title" class="signup-head-title">
												<h3 class="signup-h3 mb-5">지하철역 등록</h3>
											</div>
										</div>
										<div class="signup-middle-content">
											<div class="form-outline mb-4">
												<label class="signup-form-label mb-2" for="subway1">지하철역</label><span
													style="color: #FF0858;">*</span> <input
													placeholder="지하철역을 입력해주세요" type="text" id="stName_1"
													name="stName_1"  maxlength="60" required="required"
													class="form-control form-control-lg signup-form-control" />
											</div>

											<div class="form-outline mb-4" id="insert-subway-2"
												style="display: none;">
												<label class="signup-form-label mb-2" for="subway2"></label> <input
													placeholder="지하철역을 입력해주세요" type="text" id="stName_2"
													name="stName_2"   maxlength="60"
													class="form-control form-control-lg signup-form-control" />
											</div>

											<div class="form-outline mb-4" id="insert-subway-3"
												style="display: none;">
												<label class="signup-form-label mb-2" for="subway3"></label> <input
													placeholder="지하철역을 입력해주세요" type="text" id="stName_3"
													name="stName_3"   maxlength="60"
													class="form-control form-control-lg signup-form-control" />
											</div>

											<div class="signup-btn-list-plus-minus">
												<button type="button" class="btn btn-plus"
													onclick="formPlus()">+</button>
												<button type="button" class="btn btn-minus"
													onclick="formMinus()">-</button>
											</div>
											<div align="center">
												<button type="button" onclick="handleSubmit(event)"
													class="btn signup-next-btn btn-lg">회원가입</button>
											</div>
										</div>
										<div class="signup-bottom-content">
											<div align="center">
												계정이 이미 있나요? <a style="font-weight: 600" href="login">로그인</a>
											</div>
										</div>
									</div>



								</div>
							</form>
						</div>
						<!-- col-md-6 -->

					</div>
					<!-- signup-page-container -->
				</div>
			</div>
		</div>
	</div>

	<script>
		let subwayIndex = 1;
		let idCheckPassed = false;

		function formPlus() {
			if (subwayIndex < 3) {
				subwayIndex++;
				document.getElementById(`insert-subway-${subwayIndex}`).style.display = "block";
			}
		}

		function formMinus() {
			if (subwayIndex > 1) {
				document.getElementById(`insert-subway-${subwayIndex}`).style.display = "none";
				subwayIndex--;
			}
		}

		function idCheck() {
			const usrEmail = $('#usrEmail').val();
			if (!usrEmail) {
				alert("이메일을 입력해 주세요.");
				return;
			}
			
			 // 글자수 30자 제한 체크
		    if (usrEmail.length > 30) {
		        alert("이메일은 30자 이하로 입력해 주세요.");
		        return;
		    }

		    const emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,}$/;
		    if (!emailPattern.test(usrEmail)) {
		        alert("올바른 이메일 형식이 아닙니다.");
		        return;
		    }
		    
			$.ajax({
				url : "idCheck",
				type : "get",
				dataType : "json",
				data : {
					"usrEmail" : usrEmail
				},
				success : function(data) {
					if (data) {
						alert("해당 ID는 사용할 수 없습니다.");
					} else {
						alert("해당 ID는 사용 가능한 ID입니다.");
						idCheckPassed = true;
					}
				},
				error : function() {
					alert("에러가 발생했습니다.");
				}
			});
		}

		function goNext() {

			const usrEmail = $('#usrEmail').val();
			const usrNick = $('#usrNick').val();
			const usrPw = $('#usrPw').val();
			const usrPwCheck = $('#usrPwCheck').val();

			if (!idCheckPassed) {
				alert("이메일 중복체크를 해주세요.");
				return;
			}

			if (!usrEmail) {
				alert("이메일을 입력해 주세요.");
				return;
			}

			if (!usrNick) {
				alert("닉네임을 입력해 주세요.");
				return;
			}

			if (!usrPw) {
				alert("비밀번호를 입력해 주세요.");
				return;
			}

			if (!usrPwCheck) {
				alert("비밀번호 확인을 입력해 주세요.");
				return;
			}

			if (usrPw != usrPwCheck) {
				alert("비밀번호가 일치하지 앖습니다.");
				return;
			}

			$("#signup1").hide();
			$("#signup2").show();
		}

		function handleSubmit(event) {
			event.preventDefault();

			const stName_1 = $('#stName_1').val();
			const usrEmail = $('#usrEmail').val();
			const usrNick = $('#usrNick').val();
			const usrPw = $('#usrPw').val();
			const usrPwCheck = $('#usrPwCheck').val();

			if (!stName_1) {
				alert("역을 하나는 입력해 주세요.");
				return;
			}

			$.ajax({
				type : "POST",
				url : "/signup",
				contentType : "application/json",
				data : JSON.stringify({
					"usrEmail" : usrEmail,
					"usrNick" : usrNick,
					"usrPw" : usrPw
				}),
				dataType : "text",
				success : function(response) {
					if (response === 'success') {
						$('#step2-form').append($('<input>').attr({
							type : 'hidden',
							name : 'usrEmail',
							value : usrEmail
						})).submit();
					} else {
						alert("1단계 실패: " + response);
					}
				},
				error : function(xhr, status, error) {
					alert("서버 오류: " + error);
				}
			});
		}
	</script>
</body>
</html>
