/* 캘린더 테이블 기본 스타일 */
.history-main-container2,
.history-main-container{
	padding: 1rem;	
	min-width: 720px;
	width: 90vw;
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}


.service-flex-row {
	display: flex;
	justify-content: center;
	gap : 5rem;
	flex-wrap: wrap;
	width: 100%;
	align-items: stretch; /* 높이 통일을 위해 stretch 적용 */
}

.chartContainer-chart-box{
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	flex-wrap: nowrap;
}

.calendar-box {
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 8px;
	width: 100%; /* 부모 너비에 맞게 가변 */
	box-sizing: border-box; /* 패딩과 테두리 포함 너비 계산 */
}

#calendar-body {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	user-select: none;
}

#calendar-body tr {
	height: 57px;
}

.calendar-cell {
	border: 1px solid #ccc;
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	height: 40px;
	line-height: 40px;
}

/* day-circle 스타일 */
.day-circle {
	width: 30px; /* 최대 너비 제한 */
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background-color: transparent;
	color: #333;
	cursor: pointer;
	font-size: 20px;
	transition: background-color 0.3s ease, color 0.3s ease;
	user-select: none;
	text-align: center;
	margin: 0 auto; /* 셀 가운데 정렬 */
}

.day-circle:hover {
	background-color: #2d6cdf;
	color: #fff;
}

.calendar-section, .result-section {
	box-sizing: border-box; /* 패딩, 테두리 포함 높이 계산 */
	display: flex;
	flex-direction: column;
}

.calendar-section {
	width: 500px;
	font-weight : 900;
}

.result-section {
	width: 700px;
}

.serviceHistory-container {
	padding: 0;
	width: 100%;
}

.serviceHistory-col {
	width: 100%;
	margin: 0 auto;
}

.serviceHistory-card {
	border: none;
	border-radius: 16px;
	background: linear-gradient(145deg, #f5f5f5, #ffffff);
	height: 422px; /* 전체 카드 높이 고정 */
	display: flex;
	flex-direction: column;
}

.serviceHistory-card:hover {
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
}

.serviceHistory-card-header {
	background-color: #2d6cdf;
	color: white;
	height: 4rem; 
	flex-shrink : 0;
	font-size: 1.25rem; font-weight : 600;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	font-weight: 600;
	flex-shrink: 0;
	display: flex;
	align-items: center;      /* 수직 중앙 정렬 */
	justify-content: center;  /* 수평 중앙 정렬(필요 시) */
}

.serviceHistory-card-header span{
	font-size: 1.7rem;     /* 폰트 키움 */
}

.serviceHistory-card-body {
	height: calc(100% - 4rem);
	width: 100%;
	overflow-y: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #999;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
}

.serviceHistory-card-body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.serviceHistory-card-body::-webkit-scrollbar-thumb {
    background: transparent;
}

.serviceHistory-average-info {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.serviceHistory-info-header {
  padding : 1rem 0;
  width : 100%;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;  
  justify-content: center; /* 좌우 중앙 정렬 */
  top : 0;
  color: black;
}

.serviceHistory-info-body {
	font-size: 0.8rem;
	color: #444;
	margin: 0;
}

.pm-list {
	list-style: none;
	padding: 0;
	border-radius: 8px;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	height: auto;
	width: 100%;
}

.pm-list li {
	padding: 0.8rem 0.5rem;
	background-color: #FAFAFA;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pm-title {
	font-weight: 700;
	font-size: 1.4rem;
	color: #2d6cdf;
	margin-bottom: 0.7rem;
	text-align: center;
}

.pm-item {
	font-size: 1.5rem;
	padding: 0.5rem 0.7rem;
	color: #444;
	text-align: left;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	border-top: 1px solid #d6d6d6; /* 구분선 추가 */
}

.pm-item:first-of-type {
	border-top: none; /* 첫 항목은 선 제거 */
}

.pm-item::before {
	content: attr(data-label);
	width: 80px;
	font-weight: 600;
	text-align: left;
}

.pm-item span {
	width: 100px;
	text-align: right;
	font-weight: 900;
	margin: 0 0.3rem;
	font-size: 1.6rem;
}

.pm-item::after {
	content: attr(data-unit);
	width: 60px;
	text-align: left;
}

.no-data-message {
  padding: 0.8rem 0.5rem;
  height: 258px;
  color: #999;
  font-size: 1.4rem;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;     /* 세로 중앙 정렬 */
  text-align: center;
  white-space: pre-line; /* 줄바꿈 허용 */
  line-height: 1.4;
}

#initial-message{
  color: #999;
  font-size: 1.4rem;
}

.chart-loading-text-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  animation: fadeIn 1.2s ease-in-out;
}

.chart-loading-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  white-space: pre; /* 공백 유지 */
}

#chartList-loading {
  text-align: center;
}

#PastDustChart {
	margin-bottom : 1rem;
	margin-top: 1rem;
	width: 100%;
	min-height:300px;
	height: 50vh;
	max-height: 500px;
}

.chartFLex{
	display: flex;
	justify-content : center;
	width: 100%;
}

#PastCodenChart {
	flex : 1;
	width: 100%;
	height: 400px;
} 

#PastCo2denChart {
	flex : 1;
	width: 100%;
	height: 400px;
} 