html, body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

.service-main-page{
	margin-left: auto;
	margin-right: auto;
	min-width : 700px;
	width: 100vw;
	max-width : 1800px;
	height: 100vh;
}

.serviceOverview-header{
	position: relative; /* 기준 영역 설정 */
	width: 90%;
	margin-left : auto;
	margin-right : auto;
	display: flex;
	justify-content: space-between;
	padding: 2rem 0;
	font-size: 20px;
}


.serviceOverview-header-left{
	display: flex;
	gap : 20px;
	align-items: center; /* 상하 중앙 정렬 */
}

.serviceOverview-header-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	align-items: center;
	height: 40px;
	line-height: 40px;
}

.serviceOverview-header-center,
.serviceOverview-header-right-btn,
#serviceOverview-header-nowDate {
	display: flex;
	align-items: center;
}

.serviceOverview-header-right-btn i {
	margin-left: 6px; /* 아이콘과 텍스트 사이 띄어쓰기 */
}

.serviceOverview-header-right-btn {
	height: 40px;
	line-height: 40px;
	background: transparent;
	border: none;
}

.serviceChart-select {
	text-align: center;          /* 텍스트 좌우 중앙 정렬 */
	height: 80%;
	line-height: 40px;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

#serviceOverview-header-nowDate {
	line-height: 40px;
}

.serviceOverview-wide-container{
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center; 
	gap : 2rem;
}

.serviceOverview-container {
	min-width : 300px;
	flex: 1;
	max-width : 500px;
	min-height : 400px;
	height : 30vh;
	max-height : 550px;
	text-align: center;
	border-radius : 10px;
	border:  1px solid #ccc;
	overflow: hidden;
}

.serviceOverview-contant-title{
	display: flex;
	align-items: center;
	justify-content : center;
	padding: 0 0.9rem;
	font-weight: bold;
	font-size: 1.2rem;
	height: 4rem;
	border-bottom: 1px solid #ccc;
}

.serviceOverview-contant {
	background : aqua;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: calc(100% - 4rem); 
}

.serviceOverview-contant-text,
.serviceOverview-contant-img {
	width: 50%;
	text-align: center;
}

