@charset "UTF-8";


.day-circle {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	margin: auto;
	cursor: pointer;
}

.calendar-box {
	border: 1px solid #ddd;
	padding: 15px;
	border-radius: 8px;
}

.schedule-card {
	width : 40vw;
	border: 1px solid #ccc;
	border-radius: 10px;
}
