 
.signup-login-page-container {
  background-image: url('/img/subway2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  display: flex;
  justify-content: center;   /* 수평 중앙 정렬 */
  align-items: center;       /* 수직 중앙 정렬 */
  min-height: 100vh;         /* 화면 높이 전체 사용 */
  margin: 0;
  min-height: 100vh; 
}
 
.signup-login-center-container {	
  min-width: 600px;
  width: 100%;
  max-width : 1300px;
  min-height : 600px;
  max-height : 100%;
  background-color: #fdf6ed;
  padding: 50px 40px;
  border-radius: 16px;
  border : 3px #CED4DA solid; 
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}

.signup-login-h3.mb-5 {
  font-size: 28px; /* 제목 크기도 약간 키움 */
  font-weight: bold;
  margin-bottom: 30px;
  color: #2C3E50;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.signup-login-form-label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px; /* 기존보다 조금 줄임 */
  text-align: left;   /* 왼쪽 정렬 */
}


.signup-login-form-control {
  width: 100%;
  padding: 12px 14px; /* 기존보다 조금 더 넉넉하게 */
  font-size: 16px;    /* 입력 폰트 크기 키움 */
  border: 1px solid #ccc;
  border-radius: 8px;
}

.signup-login-form-control::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.email-check-group {
  display: flex;
  gap: 10px;
}

.signup-login-btn-primary {
  background-color: orange;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.signup-login-btn-primary:hover {
  background-color: #e69500;
}

.signup-login-next-btn {
  background-color: #00b894;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  color: #ffffff;
  margin-top: 10px;
}

.signup-login-bottom-content {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.signup-login-bottom-content a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
